* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div {
    height: 20em;
    width: 40em;
    background-color: lightseagreen;
    text-align: center;
    line-height: 20em;
    color: white;
}

@keyframes disappear {
    50% {
        background-color: white;
        color:black;
    }
}

.disappear {
    animation-name: disappear;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    
}
